body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #000;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*Container
 ==========================*/
.container {
    width: 100%;
    max-width: 2290px;
    margin: 0 auto;
    padding: 0 30px;
}

/*Header
 ==========================*/
.header {
    width: 100%;
    height: 355px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    margin-left: 15px;
    margin-right: 50px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 0;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__text {
    font-size: 82px;
    line-height: 82px;
    color: #fff;
    font-family: 'Roboto', serif;
    font-weight: 400;
}

.reg__link {
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-size: 40px;
    font-style: italic;
    color: #c9ced7;
    font-weight: 300;
    margin-right: 45px;
}

.reg__link:hover {
    color: #743538;
    transition: 0.2s linear;
}

.nav {
    display: flex;
    align-items: center;
}
/*Button
 ==========================*/
.btn {
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-weight: 400;
    padding: 25px 35px;
    text-transform: uppercase;
    font-size: 38px;
    color: #cad1db;
    border-radius: 25px;
}

.btn:hover {
    color: #743538;
    transition: 0.2s linear;
}

.btn--log {
    background-color: #48526b;
}

/*Intro
 ==========================*/

.intro {
    display: flex;
    height: 1850px;
    padding-top: 370px;
    background-image: url(../img/Intro.png);
    background-color: rgba( 71, 85, 105, 1);
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
}

/*
.intro::before {
    content: '';
    width: 100%;
    height: inherit;
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    background-color: rgba( 71, 85, 105, 0.8);

}
*/

.intro__title {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 102px;
    color: #fff;
    z-index: 2;
    margin-bottom: 130px;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}

.intro__text {
    flex-direction: column;
    max-width: inherit;
}

.intro__subtitle {
    font-weight: 400;
    font-size: 52px;
    line-height: 84px;
    color: #c5d2e5;
    padding-bottom: 130px;
    max-height: 420px;
    white-space: pre-line;
}

.intro__img {
    max-height: 570px;
    max-width: 595px;
}

.intro__btn {
    display: inline-block; /*Строчный элемент*/
    vertical-align: top;
    text-decoration: none;
    font-family: 'Roboto', serif;
    font-weight: 400;
    padding: 50px 90px;
    font-size: 72px;
    color: #fff;
    border-radius: 25px;
}

.intro__btn:hover {
    color: #743538;
    transition: 0.2s linear;
}

.btn--green {
    background-color: #67bf95;
}
/*Info
 ==========================*/


.info {
    display: flex;
    align-items: center;
    padding: 300px 0;
    height: auto;
}

.info__inner {
    display: flex;
    padding: 0 90px 0 70px;
    justify-content: space-between;
    align-items: center;
}

.info__text {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    max-height: inherit;
    max-width: inherit;
}

.info__title {
    font-size: 80px;
    font-weight: 400;
    color: #37414e;
}

.info__subtitle {
    font-size: 40px;
    font-weight: 400;
    color: #37414e;
    line-height: 84px;
    white-space: pre-line;
    word-wrap: break-word;
}

.info__img {
    max-height: 550px;
    max-width: 470px;
}

.info__icons {
    display: flex;
    flex-direction: column;
}

.func__icon:last-child {
    margin-bottom: 0;
}

.func__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

    background-color: #fff;
    border: 5px solid #67bf95;
    border-radius: 50%;
    margin-bottom: 100px;
}

.icons__pencil {
    display: block;
    height: 60px;

    fill: #67bf95;

    transition: fill 0.1s linear;
}

.icons__facebook {
    display: block;
    height: 60px;

    fill: #67bf95;

    transition: fill 0.1s linear;
    transform: translateX(-3px);
}

/*Slider
 ==========================*/

.slider {
    max-height: 1680px;
    width: 100%;
    background-color: #52ad81;
    overflow: hidden;
}

.slider__inner {
    max-height: 1680px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.slider__text {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    padding-bottom: 250px;
    align-items:center;

}

.slider__title {
    font-weight: 500;
    font-size: 112px;
    line-height: 65px;
    color: #fff;
    font-family: 'Roboto', serif;
    white-space: nowrap;
}

.slider__subtitle {
    font-weight: 300;
    font-size: 60px;
    line-height: 65px;
    color: #fff;
    font-family: 'Roboto', serif;
    margin-top: 70px;
}

/*Browser Window
 ==========================*/
.browser__window {
    background-color: #fff;
    /* width: 2330px; */
    height: 1170px;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    flex-direction: column;
}

.browser__header {
    display: flex;
    height: 140px;
    width: inherit;
    background-color: #e8e8e8;
    justify-content: space-between;
/*    position: absolute;*/
}

.header__elipses {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 44px;
    width: 280px;
}

.elips {

    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 30px;
}

.elips--red {
    background-color: #df7065;
}

.elips--yellow {
    background-color: #ffcc33;
}

.elips--green {
    background-color: #66cc99;
    margin-right: 0;
}

.address__bar {
    display: flex;
    width: 1900px;
    height: 90px;
    border-radius: 30px;
    background-color: #fff;
    margin-top: 25px;
    margin-right: 125px;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
}

.address {
    font-family: 'Roboto', serif;
    font-weight: 400;
    line-height: 62px;
    font-size: 36px;
    color: #afafaf;
    padding-left: 30px;
}

.address__icon {
    padding: 0 25px;
}

.icons__plus {
    display: block;
    height: 32px;
    width: 32px;
    fill: #8a8a8a;
    transition: fill 0.1s linear;
}

.browser__body {
    display: flex;
    flex-direction: column;
}

.brow__nav {
    display: flex;
    padding: 0 110px;
    padding-top: 80px;
    padding-bottom: 55px;
    justify-content: space-between;
}

.block {
    background-color: #e9e9e9;
    width: 100%;
    height: 100%;
}

.block--1 {
    width: 10%;
    height: 90px;
}

.block--2 {
    width: 80%;
    height: 90px;
}

.block--3 {
    width: 100%;
    height: 590px;
    padding: 0 110px;
}

/*Price
 ==========================*/

.price {
    display: flex;
    width: 100%;
}

.price__inner{
    padding-bottom: 300px;
}

.price__title {
    font-family: 'Roboto', serif;
    font-weight: 500;
    line-height: 85px;
    font-size: 86px;
    color: #37414e;
}

.price__subtitle {
    font-family: 'Roboto', serif;
    font-weight: 400;
    line-height: 85px;
    font-size: 44px;
    color: #858b93;
}

.price__text {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 185px;
}

.price__subtitle {
    width: 1600px;
}

/*Price Block
 ==========================*/
.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.price__inner {
    display: flex;
    flex-direction: column;

}

.price__block {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    padding-left: 40px;
    max-width: 660px;
}

.price__blocks .price__block:first-child {
    padding-left: 0;
}

.block__cost {
    font-size: 68px;
    line-height: 85px;
    color: #6d737b;
    font-weight: 700;
    font-family: 'Roboto', serif;
    margin: 100px 0;
}

.block__text {
    font-size: 60px;
    line-height: 85px;
    color: #6d737b;
    font-weight: 400;
    font-family: 'Roboto', serif;
    margin-top: 100px;
    margin: 100px 0;
}

.text--Gb {
    text-transform: uppercase;
}

.block__title {
    display: flex;
    font-size: 68px;
    line-height: 85px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', serif;
    max-width: 660px;
    height: 170px;
    background-color: #4b596c;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.block__potential {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    height: auto;
    background-color: #e9eef3;
    text-align: center;
}

.block__btn {
    max-width: 660px;
    white-space: nowrap; /**/
    text-align: center;
    font-size: 68px;
    line-height: 85px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', serif;
    padding: 55px 210px;
    text-decoration: none;
    margin-top: 170px;
}

.price__blocks {
    display: flex;
    justify-content: space-between;
}

.block--gray {
    background-color: #4b596c;
}

.block--green {
    background-color: #58ad52;
}

.block__title.block--green {
    position: relative;
}

.block--blue {
    background-color: #52a1ad;
}

.icons__rec {
    width: 40px;
    height: 30px;
    fill: #fff;
}

.reccomend__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #f7ca52;
    z-index: 1000;
    border-radius: 50%;
    position: absolute;
    right: -40px;
    top: -40px;
}

.price__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9eaed;
    padding: 100px 0;
}

.price__footer__text {
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 86px;
    line-height: 65px;
    color: #4b596c;
}

/*Video
 ==========================*/
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Video.png);
    background-color: rgba( 217, 101, 99, 1);
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.video {
    width: 100%;
    height: 1900px;
}

.video__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

video__icons {
    opacity: 0.6;
    width: 250px;
    height: 250px;
    transition: fill 0.1s linear;
}

.video__icon {
    fill: #fff;
}

.video__icons:hover .video__icon {
    fill: #f7ca52;
}

/*E-mail
 ==========================*/

.mail {
    width: 100%;
    height: 2400px;
    background-color: #2d3136;
}

.mail__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 2250px;
}

.mail__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 200px;
}

.mail__elips {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 560px;
    height: 560px;
    border-radius: 50%;

    background-color: #be393b;
    border: 50px solid #383939;
    overflow: hidden;
}

.email__img {
    display: block;
    height: 210px;
    width: 280px;
    border-radius: 10px;
}

.mail__form {

    display: flex;
    justify-content: space-between;

}

.mail__user {
    display: flex;
    flex-direction: column;
}

.e-mail {
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 65px;
    color: #d7d7d7;
    margin-bottom: 70px;
}

.red {
    font-size: 86px;
    line-height: 65px;
    color: #be393b;
}

.mail__block {
    display: block;
    width: 960px;
    height: 210px;

    border: 1px solid #4c4f53;
    border-radius: 20px;

}

.mail__block:hover {
    border-color: #be393b;
    transition: 0.2s linear;
}

.message__block {
    width: 1150px;
    height: 690px;
    margin-bottom: 0;
}

.mail--margin {
    margin-top: 105px;
}

.mail__btn {
    display: flex;
    text-transform: uppercase;
    font-family: 'Roboto', serif;
    font-size: 72px;
    line-height: 65px;
    color: #fff;
    padding: 70px 140px;
    background-color: #b0444e;
    text-decoration: none;
    width: 465px;
    border-radius: 20px;
    margin-top: 180px;

}

.mail__send {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1150px;
}

.mail__input__area {
    display: flex;
    justify-content: space-between;
}

.user__info__input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.textfield {
    height: 200px;

    background: none;
    border: 3px #4c4f53 solid;
    border-radius: 20px;

    font-size: 60px;
    line-height: 1.1;
    color: #d7d7d7;

    padding: 0 40px;
}

.text--mini {
    max-width: 950px;
    width: 100%;
}

.text--more {
    height: 670px;
    max-height: 670px;
    width: 1150px;
    resize:none;
    padding-top: 40px;
}

.textfield:focus {
    outline: none;
    border: 3px #743538 solid;
    box-shadow: inset 40px 40px 200px rgb(116 53 56 / 50%), 1px 1px 50px rgb(116 53 56 / 10%);
}

::-webkit-scrollbar {
    width: 40px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 15px;
    background: #2d3136;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #2d3136;
}

.mail__input__area label {
    font-size: 70px;
    color: #d7d7d7;
    margin-bottom: 60px;
}

.mail__input__area label span {
    vertical-align: super;
    color: #be393b;
}

.User__message__block {
    display: flex;
    flex-direction: column;
}

.form__btn {
    width: 460px;
    height: 190px;
    background-color: #be393b;

    font-size: 72px;
    font-weight: 700;
    color: #fff;

    text-align: center;
    border: none;
    border-radius: 20px;
    outline: none;

    transition: color .1s cubic-bezier(0.6, -0.28, 0.735, 0.045), background-color .3s ease;

    margin-top: 185px;
}

.form__btn:hover {
    color: #f7ca52;
    background-color: rgba(0, 0, 0, 0.3);
}

.mail__inner form {
    display: flex;
    flex-direction: column;
}

.mail__inner form .form__btn:last-child {
    align-self: flex-end;
}
/*E-mail
 ==========================*/

.footer {
    display: flex;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    background-color: #2a2d33;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 60px;
    color: #fff;
    margin-right: 36px;
}

.footer__subtitle {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 37px;
    line-height: 60px;
    color: #8d8d8d;
}

.footer__logo {
    margin-right: 36px;
}

.footer__icons {
    display: flex;
}

.footer__icon {
    display: flex;
    background-color: #2f3338;
    border: 3px #454648 solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.footer__icon:last-child {
    margin-right: 0;
}

.footer__facebook {
    width: 30px;
    height: 50px;
    fill: #656566;
}

.footer__twitter {
    width: 30px;
    height: 50px;
    fill: #656566;
}

.fixed {
    position: fixed;
    background-color: rgba( 71, 85, 105, 1);
    height: auto;
    width: 100%;
}

.fixed .header__inner {
    padding: 0;
}

/* Burger */

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
    order: 2;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    position: relative;
    left: 0;
    z-index: 1;
}

.burger__item::before, .burger__item::after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
}

.burger__item::before {
    top: -8px;
    left: 0;
}

.burger__item::after {
    bottom: -8px;
    left: 0;
}

/* Media
===========================*/

@media (max-width: 1980px) {

    .header {
        height: auto;
    }

    .container {
        max-width: 1200px;
        padding: 0 15px;
    }

    /* Header */

    .header__inner {
        padding: 35px 0;
    }

    .header__text {
        font-size: 40px;
        line-height: 62px;
        height: 100%;
    }

    .logo {
        margin-right: 20px;
        max-width: 60px;
        max-height: 50px;
    }

    .reg__link {
        font-size: 25px;
    }

    .btn {
        padding: 15px 25px;
        font-size: 20px;
    }

    /* Intro */
    .intro {
        height: auto;
        padding: 260px 0;
    }

    .intro__inner {
        padding-right: 0;
    }

    .intro__img {
        max-width: 295px;
        max-height: 300px;
    }

    .intro__title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    .intro__subtitle {
        font-size: 30px;
        line-height: 74px;
        padding-right: 40px;
        padding-bottom: 100px
    }

    .intro__btn  {
        font-size: 30px;
        padding: 30px 45px;
    }

    /* Info */

    .info {
        padding: 100px 0;
    }

    .info__inner {
        padding: 0;
    }

    .info__img {
        max-height: 260px;
        max-width: 250px;
    }

    .info__title {
        font-size: 40px;
        font-weight: 700;
    }

    .info__subtitle {
        font-size: 25px;
        line-height: 64px;
    }

    .func__icon {
        width: 100px;
        height: 100px;
    }

    .icons__pencil {
        height: 50px;
    }

    .icons__facebook {
        height: 50px;
    }

    /* Slider */

    .slider {
        max-height: 1080px;
    }

    .slider__title {
        font-size: 60px;
    }

    .slider__subtitle {
        font-size: 40px;
        margin-top: 40px;
    }

    .slider__text {
        padding: 100px 0;
    }

    /* Price */

    .price__title {
        font-size: 40px;
    }

    .price__subtitle {
        font-size: 25px;
        width: auto;
        line-height: 50px;
    }

    .price__text {
        margin-top: 100px;
        margin-bottom: 85px;
    }

    .reccomend__icon {
        height: 70px;
        width: 70px;
    }

    .block__title {
        font-size: 35px;
        height: 80px;
    }

    .block__title {
        font-size: 38px;
    }

    .block__cost {
        font-size: 25px;
        margin: 20px 0;
    }

    .block__text {
        font-size: 20px;
        margin: 28px 0;
    }

    .block__btn {
        font-size: 28px;
        padding: 15px 15px;
        margin-top: 70px;
        line-height: 65px;
    }

    .price__inner {
        padding-bottom: 70px;
    }

    .price__footer__text {
        font-size: 46px;
    }

    .price__footer {
        height: 150px;
    }

    /* Video */

    .video {
        height: 1080px;
    }

    .video__icon {
        height: 100px;
        width: 100px;
    }

    /* Mail */
    .mail {
        height: auto;
    }

    .mail__inner {
        height: auto;
        padding-bottom: 100px;
    }

    .mail__elips {
        width: 300px;
        height: 300px;
        border: 20px solid #383939;
    }

    .mail__logo {
        margin: 50px 0;
    }

    .mail__input__area label {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .textfield {
        height: 100px;
    }

    .text--mini {
        max-width: 400px;
    }

    .text--more {
        height: 320px;
        max-height: 670px;
        width: 550px;
        padding-top: 40px;
    }

    .form__btn {
        width: 200px;
        height: 80px;
        font-size: 30px;
        margin-top: 65px;
    }

    .email__img {
        height: 130px;
        width: 170px;
    }

    /* Footer */

    .footer {
        padding: 30px 0;
    }

    .footer__title {
        font-size: 28px;
        line-height: 60px;
    }

    .footer__subtitle {
        font-size: 27px;
    }

    .footer__icon {
        width: 60px;
        height: 60px;
        margin-right: 40px;
    }

    .header__text {
        font-size: 40px;
        line-height: 62px;
    }

    .logo {
        margin-right: 20px;
        max-width: 60px;
        max-height: 50px;
    }

    .reg__link {
        font-size: 25px;
    }

    .btn {
        padding: 15px 25px;
        font-size: 20px;
    }
}

@media (max-width: 1350px) {
    /* Header */
    .header__text {
        font-size: 35px;
    }

    .logo {
        margin-right: 20px;
        max-width: 40px;
        max-height: 40px;
    }

    .reg__link {
        font-size: 20px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 15px;
    }

    /* Intro */

    .intro__title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .intro__subtitle {
        font-size: 25px;
        line-height: 54px;
        padding-right: 40px;
        padding-bottom: 40px;
        white-space: unset;
    }

    .intro__btn {
        font-size: 20px;
        padding: 20px 30px;
    }

    .intro__img {
        max-width: 255px;
        max-height: 250px;
    }

    /* Info */
    .info__title {
        padding-bottom: 20px;
    }

    .info__img {
        max-height: 220px;
    }

    .info__subtitle {
        font-size: 20px;
        line-height: 44px;
        white-space: unset;
    }

    .func__icon {
        width: 80px;
        height: 80px;
    }

    .func__icon {
        margin-bottom: 70px;
    }

    .icons__pencil {
        height: 40px;
    }

    .icons__facebook {
        height: 40px;
    }

    /* Slider */

    .slider__text {
        padding: 60px 0;
    }

    .slider__title {
        font-size: 50px;
    }

    .slider__subtitle {
        font-size: 30px;
        margin-top: 10px;
    }

    .browser__window {
        height: 450px;
    }

    /* Price */

    .price__text {
        margin-top: 40px;
        margin-bottom: 55px;
    }

    .price__subtitle {
        font-size: 20px;
    }

    .price__title {
        font-size: 35px;
    }

    .reccomend__icon {
        height: 50px;
        width: 50px;
        right: -20px;
        top: -20px;
    }

    .icons__rec {
        width: 25px;
    }

    .block__title {
        font-size: 35px;
        height: 65px;
        border-radius: 10px 10px 0 0;
    }

    .block__cost {
        font-size: 20px;
        line-height: 60px;
    }

    .block__text {
        line-height: 60px;
    }

    .block__btn {
        font-size: 25px;
        padding: 15px 15px;
        margin-top: 50px;
        line-height: 35px;
    }

    .price__footer {
        padding: 50px 0;
        height: 100px;
    }

    .price__footer__text {
        font-size: 35px;
    }

    /* Video */

    .video {
        height: 900px;
    }

    .video__icon {
        height: 80px;
        width: 80px;
    }

    /* Mail */

    .mail__logo {
        margin: 30px 0;
    }

    .email__img {
        height: 80px;
        width: 110px;
    }

    .mail__elips {
        width: 200px;
        height: 200px;
        border: 20px solid #383939;
    }

    .mail__input__area label {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .textfield {
        height: 70px;
        font-size: 30px;
    }

    .text--mini {
        max-width: 350px;
    }

    .text--more {
        height: 270px;
    }

    .form__btn {
        width: 170px;
        height: 70px;
    }

    .mail__inner {
        padding-bottom: 60px;
    }

    /* Footer */

    .footer__subtitle {
        font-size: 20px;
    }

    .footer__title {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 1140px;
        padding: 0 60px;
    }

    /* Intro */

    .intro__img {
        max-width: 225px;
        max-height: 220px;
    }

    /* Info */

    .info {
        padding: 100px 0;
    }

    /* Video */
    .video {
        height: 600px;
    }

    /* Slider */

    .browser__window {
        height: 300px;
    }

    /* Mail */

    .text--mini {
        max-width: 270px;
    }

    .text--more {
        height: 250px;
        max-height: 670px;
        width: 410px;
    }

    .form__btn {
        margin-top: 45px;
    }

}

@media (max-width: 767px) {
    /* Nav */
    .burger {
        display: block;
    }

    .nav {
        display: none;

        padding: 20px 10px;
        width: 100%;

        background-color: #212327;
        border-radius: 20px;
        margin: 20px 0
    }

    .reg__link {
        display: flex;
        align-items: center;
        white-space: normal;
    }

    /* Intro */

    .intro__img {
        display: none;
    }

    .intro {
        padding: 220px 0 150px 0;
    }

    .intro__subtitle {
        line-height: 44px;
        padding-right: 0px;
    }

    /* Info */

    .info__img {
        display: none;
    }

    .info__inner {
        display: flex;
        flex-direction: column;
    }

    .info__icons {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 10px;
    }

    .func__icon {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .info__icons .func__icon:last-child {
        margin-right: 0;
    }

    .info__text {
        padding: 0;
    }

    .info__subtitle {
        line-height: 34px;
    }

    .func__icon {
        width: 60px;
        height: 60px;
    }

    .icons__pencil {
        height: 30px;
    }

    .icons__facebook {
        height: 30px;
    }
    /* Slider */

    .slider__text {
        text-align: center;
    }

    .slider__title {
        font-size: 40px;
        white-space: unset;
    }

    .slider__subtitle {
        font-size: 25px;
        margin: 0;
    }

    .elips {
        width: 30px;
        height: 30px;
    }

    .address__bar {
        justify-content: flex-end;
        overflow: hidden;
        min-width: 30%;
        align-self:center;
        margin-top: 0;
        transform: translateX(-10px);
    }

    .address {
        display: none;
    }

    .icons__plus {
        height: 20px;
        width: 20px;
        padding-left: 5px;
    }

    .brow__nav {
        padding: 40px 50px;
    }

    /* Price */

    .price__title {
        line-height: 55px;
        margin-bottom: 10px;
    }

    .price__subtitle {
        line-height: 1.5;
    }

    .block__title {
        font-size: 25px;
    }

    .block__text {
        margin: 5px 0;
    }

    .price__text {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .block__btn {
        margin-top: 30px;
    }

    .price__blocks {
        justify-content: center;
        flex-direction: column;
    }

    .price__block {
        align-self: center;
        width: 80%;
        padding: 0 0 30px 0;
    }

    .price__block:last-child {
        padding: 0;
    }

    .price__footer__text {
        font-size: 25px;
        line-height: 1.7;
        text-align: center;
        padding: 0 20px;
    }

    .video {
        height: 300px;
    }

    /* Mail */
    .mail__elips {
        width: 150px;
        height: 150px;
        border: 10px solid #383939;
    }

    .email__img {
        height: 60px;
        width: 80px;
    }

    .textfield {
        height: 50px;
        font-size: 20px;
        padding: 0 20px;
    }

    .text--mini {
        width: auto;
        max-width: 50%;
    }

    .text--more {
        height: 210px;
        width: 70%;
        padding-top: 20px;
    }

    .form__btn {
        width: 130px;
        height: 65px;
        font-size: 25px;
    }

    .mail__input__area {
        flex-direction: column;
    }

    .user__info__input {
        flex-direction: normal;
        flex-wrap: wrap;
    }
    /* Footer */

    .footer__inner {
        flex-direction: column;
        align-items:flex-end;
    }

    .footer__subtitle {
        font-size: 15px;
        line-height: 2;
        text-align: end;
    }

    .footer__title {
        line-height: 1.25;
    }

    .footer__icon {
        width: 50px;
        height: 50px;
    }

    .footer__title {
        white-space: nowrap;
    }

    .footer__text {
        padding-bottom: 25px;
    }

}

@media (max-width: 414px) {
    .container {
        padding: 0px 20px;
    }

    /* Header */

    .header__text {
        font-size: 25px;
    }

    .logo {
        margin-right: 10px;
        max-width: 30px;
        max-height: 30px;
    }

    .header__inner {
        padding: 25px 0;
    }

    .reg__link {
        padding-left: 10px;
    }

    /* Intro */

    .intro__title {
        font-size: 35px;
    }

    .intro__subtitle {
        line-height: 35px;
    }

    .intro {
        padding: 130px 0 80px 0;
    }

    .fixed .header__inner {
        padding: 0;
    }

    /* Info */

    .info {
        padding: 50px 0;
    }

    .info__icons {
        padding-top: 15px;
    }

    /* Slider */

    .slider__title  {
        font-size: 30px;
        line-height: 1.5;
        padding-bottom: 15px;
    }

    .slider__subtitle {
        font-size: 22px;
        line-height: 1.5;
    }

    .slider__text {
        padding: 40px 0;
    }

    .elips {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .browser__window {
        height: 220px;
    }

    .header__elipses {
        padding-top: 30px;
    }

    .address__bar {
        height: 40px;
        border-radius: 15px;
        margin-left: 30px;
        margin-right: 0;
    }

    .block--1,.block--2 {
        height: 60px;
    }

    .browser__header {
        height: 80px;
    }

    .price__footer__text {
        font-size: 20px;
        line-height: 1.2;
    }

    .video {
        height: 250px;
    }

    .video__icon {
        height: 60px;
        width: 60px;
    }

    /* Mail */

    .mail__input__area label {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .text--more {
        height: 110px;
        width: 90%;
    }

    .form__btn {
        width: 100px;
        height: 45px;
        font-size: 20px;
        margin-top: 30px;
    }

    .mail__inner form .form__btn:last-child {
        align-self: flex-start;
    }

    .text--mini {
        max-width: 60%;
    }

    /* Footer */
    .footer__text {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__subtitle {
        text-align: center;
        padding-top: 10px;
    }

    .footer__inner {
        align-items: center;
    }

    .footer__icon {
        width: 40px;
        height: 40px;
    }

    .footer__twitter {
        width: 20px;
    }

    .footer__facebook {
        width: 20px;
    }
}

.show {
    display: flex;
}

.hinner__flex {
    display: flex;
    flex-direction: column;
}

.hinner__flex nav {
    order: 3;
    display: flex;
    justify-content: center;
}

.header__inner div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Slider */

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding: 0 0 20px 0;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    width: 15px;
    height: 15px;
    cursor: pointer;

    border-radius: 50%;
    opacity: 0.5;
    background: #fff;
    bottom: 0;
    padding: 0;
    color: transparent;
    font-size: 0;
}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    opacity: 1;
}
